{% extends "layout.html" %}

{% block body %}
<h1>HOAX booking</h1>
<p>
  Welcome to HOAX booking! Please note, all date/times (also those that you input) are in <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time">UTC</a>.
</p>
<p>You can create an account to become part of a community. After you log in, you can share a resource you have access to with one or many communities. You can book a resource that your community has access to, and you can create an invoice to pay for your bookings.</p>
<p>
  At <a href="https://github.com/nigoshh/hoax">this GitHub repo</a> you can find more detailed documentation (and the app's source code).
</p>
{% endblock %}
