<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8">
    <title>HOAX booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">HOAX booking</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-accounts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              accounts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-accounts">
              <a class="dropdown-item" href="{{ url_for('accounts_list') }}">list accounts</a>
              <a class="dropdown-item" href="{{ url_for('accounts_form_create') }}">create a new account</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-communities" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              communities
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-communities">
              <a class="dropdown-item" href="{{ url_for('communities_list') }}">list communities</a>
              <a class="dropdown-item" href="{{ url_for('communities_form_create') }}">create a new community</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-resources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              resources
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-resources">
              <a class="dropdown-item" href="{{ url_for('resources_list') }}">list resources</a>
              <a class="dropdown-item" href="{{ url_for('resources_form_create') }}">create a new resource</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-bookings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              bookings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-bookings">
              <a class="dropdown-item" href="{{ url_for('bookings_list') }}">list bookings</a>
              <a class="dropdown-item" href="{{ url_for('bookings_form_create') }}">create a new booking</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          {% if current_user.is_authenticated %}
          <span>{{ current_user.username }} logged in ~ <a href="{{ url_for('auth_logout') }}">log out</a></span>
          {% else %}
          <a href="{{ url_for('auth_login') }}">log in</a>
          {% endif %}
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      {% block body %}
      {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
