{% extends "layout.html" %}

{% block body %}
<h1>bookings list</h1>

<table class="table table-striped table-hover">
  <caption>list of bookings</caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">account</th>
      <th scope="col">resource</th>
      <th scope="col">starting date</th>
      <th scope="col">starting time</th>
      <th scope="col">ending date</th>
      <th scope="col">ending time</th>
      <th scope="col">price</th>
      <th scope="col">details</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
    {% for b in bookings %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ b.account }}</td>
      <td>{{ b.resource }}</td>
      <td>{{ b.start_date_str() }}</td>
      <td>{{ b.start_time_str() }}</td>
      <td>{{ b.end_date_str() }}</td>
      <td>{{ b.end_time_str() }}</td>
      <td>{{ b.price_str() }}</td>
      <td>
        <a href="{{ url_for('bookings_single', booking_id=b.id) }}">details</a>
      </td>
      <td>
        <a href="{{ url_for('bookings_form_update', booking_id=b.id) }}">edit</a>
      </td>
      <td>
        <a href="{{ url_for('bookings_delete_ask', booking_id=b.id) }}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
