{% extends "layout.html" %}

{% block body %}
<h1>booking details</h1>

<table class="table table-striped table-dark table-hover">
  <caption>booking details</caption>
  <tbody>
    <tr>
      <th scope="row">account (in charge)</th>
      <td>{{ booking.account.username }}</td>
    </tr>
    <tr>
      <th scope="row">resource</th>
      <td>{{ booking.resource }}</td>
    </tr>
    <tr>
      <th scope="row">starting date</th>
      <td>{{ booking.start_dt.strftime("%a %d %b %Y") }}</td>
    </tr>
    <tr>
      <th scope="row">starting time</th>
      <td>{{ booking.start_time_str() }}</td>
    </tr>
    <tr>
      <th scope="row">ending date</th>
      <td>{{ booking.end_dt.strftime("%a %d %b %Y") }}</td>
    </tr>
    <tr>
      <th scope="row">ending time</th>
      <td>{{ booking.end_time_str() }}</td>
    </tr>
    <tr>
      <th scope="row">price</th>
      <td>{{ booking.price_str() }}</td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-auto mr-auto">
    <a href="{{ url_for('bookings_form_update', booking_id=booking.id) }}">edit booking</a>
  </div>
  <div class="col-auto">
    <a href="{{ url_for('bookings_delete_ask', booking_id=booking.id) }}">delete booking</a>
  </div>
</div>
{% endblock %}
