{% extends "layout.html" %}
{% from "forms.html" import form_row %}

{% block body %}
<h1>edit booking</h1>

<form method="POST" action="{{ url_for('bookings_update', booking_id=booking.id) }}" novalidate>
  {{ form_row([(form.account, ""), (form.resource, "")]) }}
  {{ form_row([(form.start_date, ""), (form.start_time, "")]) }}
  {{ form_row([(form.end_date, ""), (form.end_time, "")]) }}
  <div class="row">
    <div class="col-auto mr-auto">
      {{ form.submit(class_="btn btn-primary") }}
    </div>
    <div class="col-auto">
      <a href="{{ url_for('bookings_delete', booking_id=booking.id) }}">delete booking</a>
    </div>
  </div>
</form>
{% endblock %}
