{% extends "layout.html" %}

{% block body %}
<h1>delete account</h1>

<form method="POST" action="{{ url_for('accounts_delete', account_id=account.id) }}">
  <p class="lead">are you sure you want to delete the {{ account.username }} account?<br>all the information related to this account will be gone, forever (including related bookings and invoices)</p>
  <div class="row">
    <div class="col-auto mr-auto">
      <button type="submit" class="btn btn-primary mb-2">delete account</button>
    </div>
    <div class="col-auto">
      <a href="{{ url_for('accounts_single', account_id=account.id) }}">cancel</a>
    </div>
  </div>
</form>
{% endblock %}
