{% extends "layout.html" %}

{% block body %}
<h1>delete community</h1>

<form method="POST" action="{{ url_for('communities_delete', community_id=community.id) }}">
  <p class="lead">are you sure you want to delete the {{ community.address }} community?<br>all the information related to this community will be gone, forever (including related accounts, bookings and invoices)</p>
  <div class="row">
    <div class="col-auto mr-auto">
      <button type="submit" class="btn btn-primary mb-2">delete community</button>
    </div>
    <div class="col-auto">
      <a href="{{ url_for('communities_single', community_id=community.id) }}">cancel</a>
    </div>
  </div>
</form>
{% endblock %}
