{% extends "layout.html" %}

{% block body %}
<h1>communities list</h1>

<table class="table table-striped table-hover">
  <caption>list of communities</caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">address</th>
      <th scope="col">accounts (members)</th>
      <th scope="col">details</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
    {% for c in communities %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ c.address }}</td>
      <td>{{ c.accounts|length }}</td>
      <td>
        <a href="{{ url_for('communities_single', community_id=c.id) }}">details</a>
      </td>
      <td>
        <a href="{{ url_for('communities_form_update', community_id=c.id) }}">edit</a>
      </td>
      <td>
        <a href="{{ url_for('communities_delete_ask', community_id=c.id) }}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
