{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('communities_create') }}">
  <table>
    <tr>
      <td>
        {{ form.address.label }}
      </td>
      <td>
        {{ form.address }}
      </td>
      <td>
        <ul>
          {% for e in form.address.errors %}
          <li>{{ e }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
    	<td colspan="3">
    	  {{ form.submit }}
    	</td>
    </tr>
  </table>
</form>
{% endblock %}
