{% extends "layout.html" %}
{% from "forms.html" import form_row %}

{% block body %}
<form method="POST" action="{{ url_for('communities_update', community_id=community.id) }}" novalidate>
  {{ form_row([(form.address, community.address)]) }}
  <div class="row">
    <div class="col-auto mr-auto">
      {{ form.submit(class_="btn btn-primary") }}
    </div>
    <div class="col-auto">
      <a href="{{ url_for('communities_delete', community_id=community.id) }}">delete community</a>
    </div>
  </div>
</form>
{% endblock %}
