{% extends "layout.html" %}
{% from "forms.html" import form_row %}

{% block body %}
<h1>edit invoice</h1>

<form method="POST" action="{{ url_for('invoices_update', invoice_id=invoice.id) }}" novalidate>
  {{ form_row([(form.bookings, "")]) }}
  <div class="form-check">
    {% if form.paid.errors %}
      {{ form.paid(class_="form-check-input is-invalid") }}
      <div class="invalid-feedback">
        {% for e in form.paid.errors %}
        <div>{{ e }}</div>
        {% endfor %}
      </div>
    {% else %}
      {{ form.paid(class_="form-check-input") }}
    {% endif %}
    {{ form.paid.label }}
  </div>
  <div class="row">
    <div class="col-auto mr-auto">
      {{ form.submit(class_="btn btn-primary") }}
    </div>
    <div class="col-auto">
      <a href="{{ url_for('invoices_delete_ask', invoice_id=invoice.id) }}">delete invoice</a>
    </div>
  </div>
</form>
{% endblock %}
