{% extends "layout.html" %}

{% block body %}
<form class="form-inline" method="POST" action="{{ url_for('resources_delete', resource_id=resource.id) }}">
  <p class="text-center">are you sure you want to delete the {{ resource.address }} {{ resource.type }} {{ resource.number }} resource? all the information related to this resource will be gone, forever (including related bookings and invoices)</p>
  <div class="row">
    <div class="col-auto mr-auto">
      <button type="submit" class="btn btn-primary mb-2">delete resource</button>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="{{ url_for('resources_single', resource_id=resource.id) }}" role="button">cancel</a>
    </div>
  </div>
</form>
{% endblock %}
